<p id="notice"><%= notice %></p>

  <% @project = Project.find_by_id(@id) %>
<p>
  <strong>Name:</strong>
  <%=  @project.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @project.address %>
</p>

<p>
  <strong>No of flats:</strong>
  <%= @project.no_of_flats %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
